@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Rock+Salt&family=Satisfy&display=swap');

body{
    background-color: #CCCCCC;
    font-family: Roboto, serif;
    margin: 0px;
}

nav, footer{
 background-color: steelblue;
 padding: 10px;
 text-align: center;
}

nav a{
    color:white;
    margin:40px;
    text-decoration: none;
    font-size: 1.5em;
}

a:hover {
    background-color: white;
    color: steelblue;
}

h1 {
    color:steelblue;
    text-align: center;
    font-family: 'Rock Salt', 'Bradley Hand', cursive;
    margin: 50px 0;
}

img {
    border: 4px solid steelblue;
    width: 80%;
    display: block;
    margin: 0 auto;
    /*border-r
    adius: 10px;
    box-shadow: 15px 15px 10px #ccc;
    */
  
}

p {
    padding: 10px;
    width: 80%;
    text-align: center;
    margin: 50px auto;
}

.main-para {
    font-size:1.5em;
}

#active, a:hover {
background-color: white;
padding:5px;
color:black;
}

footer p {
    font-size: 20px;
    color: white;
    padding: 5px auto;
}