@import url('https://fonts.googleapis.com/css2?family=Average&family=Satisfy&display=swap');

 .menu {
    color: steelblue;
    text-align:left; 

}

.bar {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    border-radius: 25px;
  }

body {
     background-color: #00A8F3;--heading-font: Satisfy, cursive;
    --paragraph-font: Average, serif;
    font-size: 22px; 
    margin: 0;
    padding: 0; 
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover; 
}



header {
 padding: 20px;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

nav {
    display: flex;
    justify-content: space-around;
    
}

nav a:hover {
    background-color: #00A8F3;
    color: white;
}


#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
}
nav a {
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 35px;
}

#hero-msg {
    margin: 150px;
}
#hero-msg h1 {
    text-align: center;
    font-family: var(--heading-font);

}

#hero-msg h4 {
    text-align: center;
    font-family: var(--paragraph-font);
}

.button-box {
    text-align: center;
}
.home-grid {
    display: grid;
    grid-template-columns:  repeat(10, minmax(0, 1fr));
    
}
main section {
    text-align: center;
}

main section img {
    box-sizing: border-box;
}

#background {
    height:725px;
}

p {
    font-family: var(--paragraph-font);
}
.book {
    background-color: white;
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.join {
    background-color: black;
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover {
    background-color: #415D7B;
    color: white;
}

.join:hover {
    background-color: #0C3866;
    color: white;
}

   
footer {
    background-color: #0C3866;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer .social img {
    padding-top: 15px;
}

.home-title {
    color: white;
    font-size: 2em;
    margin-top: 10px;
}

h4 {
    color: white;
    font-family: var(--heading-font);
}

.msg h2 {
    color: white;
}

.msg p {
    color: white;
    font-size: 0.8em;
    padding-bottom: 15px;
}

footer h3{
    color: white;
    text-decoration: underline;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: white;
}

.logo {
    width: 80px;
}



@media screen and (max-width: 900px) {
} 

b {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
}
/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #131112; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #64a3bb;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.title {
    background-color: #60656F;
    margin: -50px 100px 0px 100px;
    border-radius: 15px;
    border-color: white;
    border-style: double;
    padding: 5px;
    color: white;
}

.amn {
    background-color: #60656F;
    margin: 10px 100px 0px 100px;
    border-radius: 15px;
    border-color: white;
    border-style: double;
    padding: 5px;
    color: white;
}

.psec {
    /* display: inline-block; */
    background-color: #60656F;
    margin: 10px 100px 0px 100px;
    border-radius: 15px;
    border-color: white;
    border-style: double;
    padding: 5px;
    color: #64a3bb;
    
}

.post {
    margin: 10px; 
    border: 1px solid white; 
    background-color: #131112;
}

h2 {
    margin: 0;
    text-align: center;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #131112;
    color: white;
    cursor: pointer;
    padding: 20px;
    width: 100%;
    text-align: center;
    border: none;
    outline: none;
    transition: 0.4s;
    font-family: var(--paragraph-font);
    font-size:22px;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
    background-color: #60656F;

  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    padding: 0 18px;
    background-color: #131112;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    color:#64a3bb;
    font-family: var(--paragraph-font);
    font-size:22px;
  }